
mono/.vs/mono/config/applicationhost.config
mono/.vs/mono/v16/.suo
mono/bin/EntityFramework.dll
mono/bin/EntityFramework.SqlServer.dll
mono/bin/EntityFramework.SqlServer.xml
mono/bin/EntityFramework.xml
mono/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
mono/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
mono/bin/mono.dll
mono/bin/mono.dll.config
mono/bin/mono.pdb
mono/bin/roslyn/csc.exe
mono/bin/roslyn/csc.exe.config
mono/bin/roslyn/csc.rsp
mono/bin/roslyn/csi.exe
mono/bin/roslyn/csi.exe.config
mono/bin/roslyn/csi.rsp
mono/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
mono/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
mono/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
mono/bin/roslyn/Microsoft.CodeAnalysis.dll
mono/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
mono/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
mono/bin/roslyn/Microsoft.CSharp.Core.targets
mono/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
mono/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
mono/bin/roslyn/Microsoft.Managed.Core.targets
mono/bin/roslyn/Microsoft.VisualBasic.Core.targets
mono/bin/roslyn/Microsoft.Win32.Primitives.dll
mono/bin/roslyn/System.AppContext.dll
mono/bin/roslyn/System.Collections.Immutable.dll
mono/bin/roslyn/System.Console.dll
mono/bin/roslyn/System.Diagnostics.DiagnosticSource.dll
mono/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
mono/bin/roslyn/System.Diagnostics.StackTrace.dll
mono/bin/roslyn/System.Globalization.Calendars.dll
mono/bin/roslyn/System.IO.Compression.dll
mono/bin/roslyn/System.IO.Compression.ZipFile.dll
mono/bin/roslyn/System.IO.FileSystem.dll
mono/bin/roslyn/System.IO.FileSystem.Primitives.dll
mono/bin/roslyn/System.Net.Http.dll
mono/bin/roslyn/System.Net.Sockets.dll
mono/bin/roslyn/System.Reflection.Metadata.dll
mono/bin/roslyn/System.Runtime.InteropServices.RuntimeInformation.dll
mono/bin/roslyn/System.Security.Cryptography.Algorithms.dll
mono/bin/roslyn/System.Security.Cryptography.Encoding.dll
mono/bin/roslyn/System.Security.Cryptography.Primitives.dll
mono/bin/roslyn/System.Security.Cryptography.X509Certificates.dll
mono/bin/roslyn/System.Text.Encoding.CodePages.dll
mono/bin/roslyn/System.Threading.Tasks.Extensions.dll
mono/bin/roslyn/System.ValueTuple.dll
mono/bin/roslyn/System.Xml.ReaderWriter.dll
mono/bin/roslyn/System.Xml.XmlDocument.dll
mono/bin/roslyn/System.Xml.XPath.dll
mono/bin/roslyn/System.Xml.XPath.XDocument.dll
mono/bin/roslyn/vbc.exe
mono/bin/roslyn/vbc.exe.config
mono/bin/roslyn/vbc.rsp
mono/bin/roslyn/VBCSCompiler.exe
mono/bin/roslyn/VBCSCompiler.exe.config
mono/Model1_mono.cs
mono/mono.csproj
mono/mono.csproj.user
mono/mono.sln
mono/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
mono/obj/Debug/mono.csproj.CopyComplete
mono/obj/Debug/mono.csproj.CoreCompileInputs.cache
mono/obj/Debug/mono.csproj.FileListAbsolute.txt
mono/obj/Debug/mono.csprojAssemblyReference.cache
mono/obj/Debug/mono.dll
mono/obj/Debug/mono.pdb
mono/packages.config
mono/packages/EntityFramework.6.4.0/.signature.p7s
mono/packages/EntityFramework.6.4.0/build/EntityFramework.DefaultItems.props
mono/packages/EntityFramework.6.4.0/build/EntityFramework.props
mono/packages/EntityFramework.6.4.0/build/EntityFramework.targets
mono/packages/EntityFramework.6.4.0/build/Microsoft.Data.Entity.Build.Tasks.dll
mono/packages/EntityFramework.6.4.0/build/netcoreapp3.0/EntityFramework.props
mono/packages/EntityFramework.6.4.0/build/netcoreapp3.0/EntityFramework.targets
mono/packages/EntityFramework.6.4.0/buildTransitive/EntityFramework.props
mono/packages/EntityFramework.6.4.0/buildTransitive/EntityFramework.targets
mono/packages/EntityFramework.6.4.0/buildTransitive/netcoreapp3.0/EntityFramework.props
mono/packages/EntityFramework.6.4.0/buildTransitive/netcoreapp3.0/EntityFramework.targets
mono/packages/EntityFramework.6.4.0/content/net40/App.config.install.xdt
mono/packages/EntityFramework.6.4.0/content/net40/App.config.transform
mono/packages/EntityFramework.6.4.0/content/net40/Web.config.install.xdt
mono/packages/EntityFramework.6.4.0/content/net40/Web.config.transform
mono/packages/EntityFramework.6.4.0/EntityFramework.6.4.0.nupkg
mono/packages/EntityFramework.6.4.0/lib/net40/EntityFramework.dll
mono/packages/EntityFramework.6.4.0/lib/net40/EntityFramework.SqlServer.dll
mono/packages/EntityFramework.6.4.0/lib/net40/EntityFramework.SqlServer.xml
mono/packages/EntityFramework.6.4.0/lib/net40/EntityFramework.xml
mono/packages/EntityFramework.6.4.0/lib/net45/EntityFramework.dll
mono/packages/EntityFramework.6.4.0/lib/net45/EntityFramework.SqlServer.dll
mono/packages/EntityFramework.6.4.0/lib/net45/EntityFramework.SqlServer.xml
mono/packages/EntityFramework.6.4.0/lib/net45/EntityFramework.xml
mono/packages/EntityFramework.6.4.0/lib/netstandard2.1/EntityFramework.dll
mono/packages/EntityFramework.6.4.0/lib/netstandard2.1/EntityFramework.SqlServer.dll
mono/packages/EntityFramework.6.4.0/lib/netstandard2.1/EntityFramework.SqlServer.xml
mono/packages/EntityFramework.6.4.0/lib/netstandard2.1/EntityFramework.xml
mono/packages/EntityFramework.6.4.0/tools/about_EntityFramework6.help.txt
mono/packages/EntityFramework.6.4.0/tools/EntityFramework6.PS2.psd1
mono/packages/EntityFramework.6.4.0/tools/EntityFramework6.PS2.psm1
mono/packages/EntityFramework.6.4.0/tools/EntityFramework6.psd1
mono/packages/EntityFramework.6.4.0/tools/EntityFramework6.psm1
mono/packages/EntityFramework.6.4.0/tools/init.ps1
mono/packages/EntityFramework.6.4.0/tools/install.ps1
mono/packages/EntityFramework.6.4.0/tools/net40/any/ef6.exe
mono/packages/EntityFramework.6.4.0/tools/net40/any/ef6.pdb
mono/packages/EntityFramework.6.4.0/tools/net40/win-x86/ef6.exe
mono/packages/EntityFramework.6.4.0/tools/net40/win-x86/ef6.pdb
mono/packages/EntityFramework.6.4.0/tools/net45/any/ef6.exe
mono/packages/EntityFramework.6.4.0/tools/net45/any/ef6.pdb
mono/packages/EntityFramework.6.4.0/tools/net45/win-x86/ef6.exe
mono/packages/EntityFramework.6.4.0/tools/net45/win-x86/ef6.pdb
mono/packages/EntityFramework.6.4.0/tools/netcoreapp3.0/any/ef6.dll
mono/packages/EntityFramework.6.4.0/tools/netcoreapp3.0/any/ef6.pdb
mono/packages/EntityFramework.6.4.0/tools/netcoreapp3.0/any/ef6.runtimeconfig.json
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/.signature.p7s
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/build/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.Extensions.props
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/build/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.props
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/build/net46/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.Extensions.props
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/build/net46/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.props
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net45/app.config.install.xdt
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net45/app.config.uninstall.xdt
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net45/web.config.install.xdt
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net45/web.config.uninstall.xdt
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net46/app.config.install.xdt
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net46/app.config.uninstall.xdt
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net46/web.config.install.xdt
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net46/web.config.uninstall.xdt
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/lib/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/lib/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1.nupkg
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/net45/install.ps1
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/net45/uninstall.ps1
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/csc.exe
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/csc.exe.config
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/csc.rsp
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/csi.exe
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/csi.rsp
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.Build.Tasks.CodeAnalysis.dll
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.CodeAnalysis.CSharp.dll
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.CodeAnalysis.CSharp.Scripting.dll
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.CodeAnalysis.dll
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.CodeAnalysis.Scripting.dll
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.CodeAnalysis.VisualBasic.dll
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.CSharp.Core.targets
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.DiaSymReader.Native.amd64.dll
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.DiaSymReader.Native.x86.dll
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.VisualBasic.Core.targets
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/System.AppContext.dll
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/System.Collections.Immutable.dll
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/System.Diagnostics.StackTrace.dll
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/System.IO.FileSystem.dll
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/System.IO.FileSystem.Primitives.dll
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/System.Reflection.Metadata.dll
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/vbc.exe
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/vbc.exe.config
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/vbc.rsp
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/VBCSCompiler.exe
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/VBCSCompiler.exe.config
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/csc.exe
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/csc.exe.config
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/csc.rsp
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/csi.exe
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/csi.exe.config
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/csi.rsp
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.Build.Tasks.CodeAnalysis.dll
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.CodeAnalysis.CSharp.dll
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.CodeAnalysis.CSharp.Scripting.dll
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.CodeAnalysis.dll
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.CodeAnalysis.Scripting.dll
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.CodeAnalysis.VisualBasic.dll
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.CSharp.Core.targets
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.DiaSymReader.Native.amd64.dll
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.DiaSymReader.Native.x86.dll
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.Managed.Core.targets
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.VisualBasic.Core.targets
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.Win32.Primitives.dll
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.AppContext.dll
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Collections.Immutable.dll
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Console.dll
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Diagnostics.DiagnosticSource.dll
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Diagnostics.FileVersionInfo.dll
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Diagnostics.StackTrace.dll
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Globalization.Calendars.dll
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.IO.Compression.dll
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.IO.Compression.ZipFile.dll
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.IO.FileSystem.dll
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.IO.FileSystem.Primitives.dll
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Net.Http.dll
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Net.Sockets.dll
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Reflection.Metadata.dll
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Runtime.InteropServices.RuntimeInformation.dll
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Security.Cryptography.Algorithms.dll
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Security.Cryptography.Encoding.dll
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Security.Cryptography.Primitives.dll
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Security.Cryptography.X509Certificates.dll
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Text.Encoding.CodePages.dll
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Threading.Tasks.Extensions.dll
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.ValueTuple.dll
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Xml.ReaderWriter.dll
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Xml.XmlDocument.dll
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Xml.XPath.dll
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Xml.XPath.XDocument.dll
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/vbc.exe
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/vbc.exe.config
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/vbc.rsp
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/VBCSCompiler.exe
mono/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/VBCSCompiler.exe.config
mono/Properties/AssemblyInfo.cs
mono/Web.config
mono/Web.Debug.config
mono/Web.Release.config
