
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upravo ste obrisali Making Vehicle i njegove modele</h2>

<script>
    setTimeout(function () {
        window.location.href = '/Home';
    }, 3000);
</script>
